/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-oct-2018, 20:17:17
    Author     : Irene
*/






*{
    margin:0;
    padding:0;
}

body, html{

    height: 100vh;
    width: 100vw;
    background-image: url('img/fondo1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}

.contenedor{

    height: 100vh;
}
.opaco{
    opacity:0.9;    
}

li a {
    font-size: 1.5rem;
    color: white !important;
}

@media (max-width: 768px) { 

    li a {
        font-size: 1.5rem;
        color: white !important;
    }

    li{
        background:#161616 !important;
    }
}

#seccionInicio, #seccionError, #seccionContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#seccionContainer div{
    background-color:#fff;

}

#seccionContainer div form{
    margin:0.2rem;
}


#seccionInicio div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#seccionInicio div img{
    border: 2px solid black;
    box-shadow: 2px 2px 5px #000;
    width:75%;
    height: 75%;
}

h1{
    color:#fff !important;
}


li a:hover{
    border-bottom: 1px solid white;
}

.dropdown-menu{
    background-color:white !important;
    box-shadow: 2px 2px 5px #000;
    border: 2px solid black;
}

.dropdown-menu a{
    font-size:1.2rem;
    color:black !important;
}

.dropdown-menu a:hover{
    background-color:
        #a98257 
        ; 
}

.dropdown-divider{
    border-top: 1px solid 
        #000;

}

navbar-collapse{
    background:black !important;
}
/* ---START LOADER--- */

.contenedor-loader{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position:fixed;
    background-color:white;
}

.loader {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 2px;
    width: 200px;
    height: 200px;
}

.loader div {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: white;
    transform: scale(0.0);
    transform-origin: center center;
    animation: loader 2s infinite linear; 
}

.loader div:nth-of-type(1){
    background-image: url('img/Preloader/fila-1-col-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.loader div:nth-of-type(2){
    background-image: url('img/Preloader/fila-1-col-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.loader div:nth-of-type(3){
    background-image: url('img/Preloader/fila-1-col-3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.loader div:nth-of-type(4){
    background-image: url('img/Preloader/fila-2-col-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.loader div:nth-of-type(5){
    background-image: url('img/Preloader/fila-2-col-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.loader div:nth-of-type(6){
    background-image: url('img/Preloader/fila-2-col-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.loader div:nth-of-type(7){
    background-image: url('img/Preloader/fila-3-col-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.loader div:nth-of-type(8){
    background-image: url('img/Preloader/fila-3-col-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.loader div:nth-of-type(9){
    background-image: url('img/Preloader/fila-3-col-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.loader div:nth-of-type(1),
.loader div:nth-of-type(5), 
.loader div:nth-of-type(9) {
    animation-delay: 0.4s;
}

.loader div:nth-of-type(4),
.loader div:nth-of-type(8) {
    animation-delay: 0.3s;
}

.loader div:nth-of-type(2),
.loader div:nth-of-type(6) {
    animation-delay: 0.6s;
}

.loader div:nth-of-type(3) {
    animation-delay: 0.8s;
}

@keyframes loader {
    0%   { transform: scale(0.0); }
    40%  { transform: scale(1.0); }
    80%  { transform: scale(1.0); }
    100% { transform: scale(0.0); }
}

/*PAGINACION*/

ul.simple-pagination {
    list-style: none;
}

.simple-pagination {
    display: block;
    overflow: hidden;
    padding: 0 5px 5px 0;
    margin: 0;
}

.simple-pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.simple-pagination li {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}

/*------------------------------------*\
        Compact Theme Styles
\*------------------------------------*/

.compact-theme a, .compact-theme span {
    float: left;
    color: #333;
    font-size:14px;
    line-height:24px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #AAA;
    border-left: none;
    min-width: 14px;
    padding: 0 7px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#efefef 100%); /* W3C */
}

.compact-theme a:hover {
    text-decoration: none;
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#bbbbbb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* IE10+ */
    background: linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* W3C */
}

.compact-theme li:first-child a, .compact-theme li:first-child span {
    border-left: 1px solid #AAA;
    border-radius: 3px 0 0 3px;
}

.compact-theme li:last-child a, .compact-theme li:last-child span {
    border-radius: 0 3px 3px 0;
}

.compact-theme .current {
    background: #bbbbbb; /* Old browsers */
    background: -moz-linear-gradient(top, #bbbbbb 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbbbbb), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* W3C */
    cursor: default;
}

.compact-theme .ellipse {
    background: #EAEAEA;
    padding: 0 10px;
    cursor: default;
}

/*------------------------------------*\
        Light Theme Styles
\*------------------------------------*/

.light-theme a, .light-theme span {
    float: left;
    color: #666;
    font-size:14px;
    line-height:24px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #BBB;
    min-width: 14px;
    padding: 0 7px;
    margin: 0 5px 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#efefef 100%); /* W3C */
}

.light-theme a:hover {
    text-decoration: none;
    background: #FCFCFC;
}

.light-theme .current {
    background: #666;
    color: #FFF;
    border-color: #444;
    box-shadow: 0 1px 0 rgba(255,255,255,1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
    cursor: default;
}

.light-theme .ellipse {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    cursor: default;
}

/*------------------------------------*\
        Dark Theme Styles
\*------------------------------------*/

.dark-theme a, .dark-theme span {
    float: left;
    color: #CCC;
    font-size:14px;
    line-height:24px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #222;
    min-width: 14px;
    padding: 0 7px;
    margin: 0 5px 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background: #555; /* Old browsers */
    background: -moz-linear-gradient(top, #555 0%, #333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555), color-stop(100%,#333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #555 0%,#333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #555 0%,#333 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #555 0%,#333 100%); /* IE10+ */
    background: linear-gradient(top, #555 0%,#333 100%); /* W3C */
}

.dark-theme a:hover {
    text-decoration: none;
    background: #444;
}

.dark-theme .current {
    background: #222;
    color: #FFF;
    border-color: #000;
    box-shadow: 0 1px 0 rgba(255,255,255,0.2), 0 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    cursor: default;
}

.dark-theme .ellipse {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    cursor: default;
}